body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
  font-display: swap;
}

/* Dark Mode Classes */
.body-dark {
  font-family: 'Montserrat', sans-serif;
  background-color: #1B1D1E;
  font-display: swap;
}

.card-dark {
  background-color: #181A1B;
}

/* Custom Colors */

.bg-gray {
  background-color: #F1F4F8;
}

.bg-grey {
  background-color: #F1F4F8;
}

/* Custom Buttons */

.btn-twitter {
  color: #FFF;
  background-color: #55ACEE;
  border-color: #55ACEE;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #FFF;
  background-color: #559DD4;
  border-color: #55ACEE;
}

.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}

.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #55ACEE;
  border-color: #55ACEE;
}

.btn-twitter .badge {
  color: #55ACEE;
  background-color: #FFF;
}

.btn-instagram {
  color: #FFFFFF;
  background-color: #AC2BAC;
  border-color: #AC2BAC;
}

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active,
.open .dropdown-toggle.btn-instagram {
  color: #FFFFFF;
  background-color: #992599;
  border-color: #AC2BAC;
}

.btn-instagram:active,
.btn-instagram.active,
.open .dropdown-toggle.btn-instagram {
  background-image: none;
}

.btn-instagram.disabled,
.btn-instagram[disabled],
fieldset[disabled] .btn-instagram,
.btn-instagram.disabled:hover,
.btn-instagram[disabled]:hover,
fieldset[disabled] .btn-instagram:hover,
.btn-instagram.disabled:focus,
.btn-instagram[disabled]:focus,
fieldset[disabled] .btn-instagram:focus,
.btn-instagram.disabled:active,
.btn-instagram[disabled]:active,
fieldset[disabled] .btn-instagram:active,
.btn-instagram.disabled.active,
.btn-instagram[disabled].active,
fieldset[disabled] .btn-instagram.active {
  background-color: #AC2BAC;
  border-color: #AC2BAC;
}

.btn-instagram .badge {
  color: #AC2BAC;
  background-color: #FFFFFF;
}

.btn-facebook {
  color: #FFFFFF;
  background-color: #0082CA;
  border-color: #0082CA;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #FFFFFF;
  background-color: #0074B3;
  border-color: #0082CA;
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #0082CA;
  border-color: #0082CA;
}

.btn-facebook .badge {
  color: #0082CA;
  background-color: #FFFFFF;
}

.btn-github {
  color: #FFFFFF;
  background-color: #333333;
  border-color: #333333;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
  color: #FFFFFF;
  background-color: #1A1A1A;
  border-color: #333333;
}

.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
  background-image: none;
}

.btn-github.disabled,
.btn-github[disabled],
fieldset[disabled] .btn-github,
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled:active,
.btn-github[disabled]:active,
fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,
.btn-github[disabled].active,
fieldset[disabled] .btn-github.active {
  background-color: #333333;
  border-color: #333333;
}

.btn-github .badge {
  color: #333333;
  background-color: #FFFFFF;
}

.btn-upvent {
  color: #FFFFFF;
  background-color: #007BFC;
  border-color: #007BFC;
}

.btn-upvent:hover,
.btn-upvent:focus,
.btn-upvent:active,
.btn-upvent.active,
.open .dropdown-toggle.btn-upvent {
  color: #FFFFFF;
  background-color: #0070E8;
  border-color: #007BFC;
}

.btn-upvent:active,
.btn-upvent.active,
.open .dropdown-toggle.btn-upvent {
  background-image: none;
}

.btn-upvent.disabled,
.btn-upvent[disabled],
fieldset[disabled] .btn-upvent,
.btn-upvent.disabled:hover,
.btn-upvent[disabled]:hover,
fieldset[disabled] .btn-upvent:hover,
.btn-upvent.disabled:focus,
.btn-upvent[disabled]:focus,
fieldset[disabled] .btn-upvent:focus,
.btn-upvent.disabled:active,
.btn-upvent[disabled]:active,
fieldset[disabled] .btn-upvent:active,
.btn-upvent.disabled.active,
.btn-upvent[disabled].active,
fieldset[disabled] .btn-upvent.active {
  background-color: #007BFC;
  border-color: #007BFC;
}

.btn-upvent .badge {
  color: #007BFC;
  background-color: #FFFFFF;
}

/* Other Colors */

.bg-upvent {
    background-color: #007BFC;
}

.text-upvent {
  color: #007BFC;
}


/* Animations */
.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Keyframes */
/* ----------------------------------------------
 * Generated by Animista on 2021-3-26 22:11:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
