{% extends 'core/base.html' %}
{% load static %}

{% block body %}

<!--Main layout-->
<main class="my-5">

    <div class="bg-gray">
        <div class="container">
            <div class="row-100"></div>
            <div class="row text-left">
                <div class="col-8">
                    <h1>Contacto</h1>
                    <p class="lead">
                        En la siguiente página podrá encontrar más información para comunicarse con nosotros.
                    </p>
                </div>
            </div>
            <div class="row-100"></div>
        </div>
    </div>

    <hr />

    <div class="container mt-5 bg-r">
        <div class="row-100"></div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <h2>Consulte nuestras plataformas</h2>
                <p class="text-large">Nuestras plataformas de soporte estarán ahí para ayudarlo siempre.</p>

                <p class="h3 mt-4 mt-lg-5">
                    <strong>Soporte para clientes</strong>
                </p>
                <p>
                    <a href="https://tickets.upvent.codes">Sistema de tickets</a>
                </p>

                <p>
                    Nuestro soporte técnico está disponible por el sistema de tickets o correo electrónico de 11 a. M. A 11 p. M.  De lunes a viernes.
                </p>

                <p class="h3 mt-4 mt-lg-5">
                    <strong>Ventas</strong>
                </p>
                <p>
                    <a href="mailto://upventmx@gmail.com">Contactar con ventas</a>
                </p>
                <p>
                    Nuestro departamento de ventas está disponible de 11 a.M. a 11 a.M. A través del correo electrónico o por medio de nuestras redes sociales.
                </p>

                <p class="h3 mt-4 mt-lg-5">
                    <strong>Preguntas Generales</strong>
                </p>
                <p>
                    <a href="mailto://upventmx@gmail.com">upventmx@gmail.com</a>
                </p>
            </div>

            <div class="col-12 col-md-6 ml-auto">
                <h2 class="fw-bold">Póngase en contacto con nosotros</h2>
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Nombre(s)" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Apellido(s)" required>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Nombre de compañía o Trabajo" required>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="email" class="form-control" placeholder="Correo Electrónico" required>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="tel" class="form-control" placeholder="Teléfono" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Razón de Contacto" required>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <textarea class="form-control" name="message" rows="5" placeholder="Mensaje..." required></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button type="submit" class="btn btn-lg bg-upvent text-white">Enviar <i class="bi bi-envelope-fill"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
<!--Main layout-->

{% endblock %}
