{% extends 'core/base.html' %}
{% load static %}

{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - Contacto</title>
    <meta name="title" content="UpVent - Contacto">
    <meta name="description" content="¿Necesita asesoramiento o enviarnos un mensaje? En la siguiente página podrá encontrar más información para comunicarse con nosotros.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/services/">
    <meta property="og:title" content="UpVent - Contacto">
    <meta property="og:description" content="¿Necesita asesoramiento o enviarnos un mensaje? En la siguiente página podrá encontrar más información para comunicarse con nosotros.">
    <meta property="og:image" content="https://upvent.codes/static/core/img/core-services.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@UpVentMX">
    <meta property="twitter:creator" content="@UpVentMX">
    <meta property="twitter:title" content="UpVent - Contacto">
    <meta property="twitter:description" content="¿Necesita asesoramiento o enviarnos un mensaje? En la siguiente página podrá encontrar más información para comunicarse con nosotros.">
    <meta property="twitter:image" content="https://upvent.codes/static/core/img/core-services.jpg">
{% endblock %}

{% block body %}
<main class="my-5">
    <div class="container">
        <div class="container">
            <div class="row text-left">
                <div class="col-8">
                    <h1>Contacto</h1>
                    <p class="lead">En la siguiente página podrá encontrar más información para comunicarse con nosotros.</p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="container mt-5 bg-r">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <h2>Consulte nuestras plataformas</h2>
                <p>Nuestras plataformas de soporte estarán ahí para ayudarlo siempre.</p>

                <p class="h3 mt-4 mt-lg-5 fw-bold">Soporte para clientes.</p>
                <p><a href="https://tickets.upvent.codes">Sistema de tickets</a></p>

                <p>Nuestro soporte técnico está disponible por el sistema de tickets o correo electrónico de 9:00 A.M. - 11 P.M.  De Lunes a Viernes.</p>

                <p class="h3 mt-4 mt-lg-5 fw-bold">Ventas</p>
                <p><a href="mailto://upventmx@gmail.com">Contactar con ventas</a></p>

                <p>Nuestro departamento de ventas está disponible de  9:00 A.M. - 11 P.M. A través del correo electrónico o por medio de nuestras redes sociales.</p>

                <p class="h3 mt-4 mt-lg-5 fw-bold">Preguntas Generales</p>
                <p><a href="mailto://upventmx@gmail.com">upventmx@gmail.com</a></p>
            </div>

            <div class="col-12 col-md-6 ml-auto">
                <h2 class="fw-bold">Póngase en contacto con nosotros</h2>

                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %} alert-danger {% endif %}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}

                <form action="" method="POST" id="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {{ form.first_name  }}
                            <ul>
                                {% for error in form.errors.first_name%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col">
                            {{ form.last_name }}
                            <ul>
                                {% for error in form.errors.last_name%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            {{ form.company_name }}
                            <ul>
                                {% for error in form.errors.company_name%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            {{ form.email }}
                            <ul>
                                {% for error in form.errors.email%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            {{ form.phone }}
                            <ul>
                                {% for error in form.errors.phone%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col">
                            {{ form.reason }}
                            <ul>
                                {% for error in form.errors.reason%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            {{ form.message }}
                            <ul>
                                {% for error in form.errors.message%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            {{ form.captcha }}
                            <ul>
                                {% for error in form.errors.message%}
                                    <li class="text-danger">{{error}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <button type="submit" class="btn btn-lg bg-upvent text-white">Enviar <i class="bi bi-envelope-fill"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
