[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin-honeypot = "*"
django-ckeditor = "*"
pillow = "*"
django-admin-interface = "*"
docutils = "*"
django-simple-captcha = "*"

[dev-packages]
bandit = "*"
pylint = "*"

[scripts]
test = " sh -c 'cd UpVent/ && python manage.py test' "
serve = " sh -c 'cd UpVent/ && python manage.py runserver' "
