{% extends 'core/base.html' %}
{% load static %}

{% block body %}

<!-- MDBootstrap Template -->
<!-- Jumbotron -->
<div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-0 h4">{{post.title}}</h1>
</div>
<!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-4 mb-5">
      <div class="container">
          <!--Grid row-->
          <div class="row">
              <!--Grid column-->
              <div class="col-md-8 mb-4">
                  <!--Section: Post data-mdb-->
                  <section class="border-bottom mb-4">
                      <img src="{{post.image.url}}"
                           class="img-fluid shadow-2-strong rounded mb-4" alt="" />

                      <div class="row align-items-center mb-4">
                          <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                              <img src="{% static 'core/img/upvent-logo.png' %}" class="rounded shadow-1-strong me-2"
                                   height="35" alt="" loading="lazy" />
                              <span>Fecha de publicación: <u>{{post.created_on}}</u> por</span>
                              <a href="" class="badge rounded-pill bg-primary text-white">UpVent</a>
                          </div>

                          <div class="col-lg-6 text-center text-lg-end">
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                                  <i class="bi bi-facebook"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                                  <i class="bi bi-twitter"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #333333;">
                                  <i class="bi bi-github"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1">
                                  <i class="bi bi-chat-fill"></i>
                              </button>
                          </div>
                      </div>
                  </section>
                  <!--Section: Post data-mdb-->

                  <!--Section: Text-->
                  <section>
                      <p>{{post.content|safe}}</p>
                  </section>
                  <!--Section: Text-->

                  <hr />

                  <!--Section: Comments-->
                  <section class="border-bottom mb-3">
                      <p class="text-center"><strong>Comentarios: {{ post.comments.count }}</strong></p>

                      <!-- Comment -->
                      {% for comment in post.comments.all %}
                      <div class="row mb-4">
                          <div class="col-2">
                              <img src="{% static 'core/img/avatar.png' %}" class="img-fluid shadow-1-strong rounded" alt="avatar image" loading="lazy" />
                          </div>

                          <div class="col-10">
                              <p class="mb-2"><strong>{{ comment.name }}</strong></p>
                              <p class="text-muted text-wrap">{{ comment.body }}</p>
                          </div>
                      </div>
                      {% endfor %}
                  </section>
                  <!--Section: Comments-->

                  <!--Section: Reply-->
                  <section>
                      <p class="text-center"><strong>¡Déjanos tu comentario!</strong></p>

                      <form>
                          <!-- Name input -->
                          <div class="form-outline mb-4">
                              <input type="text" id="form4Example1" class="form-control" required/>
                              <label class="form-label" for="form4Example1">Nombre*</label>
                          </div>

                          <!-- Email input -->
                          <div class="form-outline mb-4">
                              <input type="email" id="form4Example2" class="form-control" required/>
                              <label class="form-label" for="form4Example2">Correo Electrónico* (Para evitar el spam)</label>
                          </div>

                          <!-- Website -->
                          <div class="form-outline mb-4">
                              <input type="text" id="form4Example2" class="form-control"/>
                              <label class="form-label" for="form4Example2">Sitio web (Opcional)</label>
                          </div>

                          <!-- Message input -->
                          <div class="form-outline mb-4">
                              <textarea class="form-control" id="form4Example3" rows="4" required></textarea>
                              <label class="form-label" for="form4Example3">Comentario...*</label>
                          </div>


                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary bg-upvent btn-lg mb-4">Publicar Comentario <i class="bi bi-chat-fill"></i></button>
                      </form>
                  </section>
                  <!--Section: Reply-->

              </div>
              <!--Grid column-->
              <div class="col-md-4 mb-4">
                  <!--Section: Sidebar-->
                  <section class="sticky-top" style="top: 80px;">
                      <!--Section: Ad-->
                      <section class="text-center border-bottom pb-4 mb-4">
                          <h1>{{ post.side_title }}</h1>
                          <div class="bg-image hover-overlay ripple mb-4">
                              <img
                                  src="{{ post.side_img.url }}"
                                  class="img-fluid" />
                              <a href="{{ post.side_button_url }}" target="_blank">
                                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                              </a>
                          </div>
                          <h5>{{ post.side_text_title }}</h5>

                          <p>{{ post.site_text }}</p>
                          <a role="button" class="btn btn-primary" href="{{ post.side_button_url }}"
                             target="_blank">{{ post.side_button }}</a>
                      </section>
                      <!--Section: Ad-->

                      <!--Section: Video-->
                      <section class="text-center">
                          <h5 class="mb-4">{{ post.side_video_title }}</h5>

                          <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
                              <iframe class="embed-responsive-item rounded" sandbox="allow-same-origin allow-scripts allow-popups" src="{{ post.side_video }}"
                                      allowfullscreen></iframe>
                          </div>
                      </section>
                      <!--Section: Video-->
                  </section>
                  <!--Section: Sidebar-->
              </div>
              <!--Grid column-->
          </div>
      </div>
  </main>
  <!-- MDBootstrap Template -->
  {% endblock %}
