{% extends 'core/base.html' %}
{% load static %}

{% block body %}

    <!-- MDBootstrap Template -->
    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-0 h4">{{post.title}}</h1>
    </div>
    <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-4 mb-5">
      <div class="container">
          <!--Grid row-->
          <div class="row">
              <!--Grid column-->
              <div class="col-md-8 mb-4">
                  <!--Section: Post data-mdb-->
                  <section class="border-bottom mb-4">
                      <img src="{{post.image.url}}"
                           class="img-fluid shadow-2-strong rounded mb-4" alt="" />

                      <div class="row align-items-center mb-4">
                          <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                              <img src="{% static 'core/img/upvent-logo.png' %}" class="rounded shadow-1-strong me-2"
                                   height="35" alt="" loading="lazy" />
                              <span>Fecha de publicación: <u>{{post.created_on}}</u> por</span>
                              <a href="" class="badge rounded-pill bg-primary text-white">{{post.author}}</a>
                          </div>

                          <div class="col-lg-6 text-center text-lg-end">
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                                  <i class="fab fa-facebook-f"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                                  <i class="fab fa-twitter"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                                  <i class="fab fa-linkedin"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1">
                                  <i class="fas fa-comments"></i>
                              </button>
                          </div>
                      </div>
                  </section>
                  <!--Section: Post data-mdb-->

                  <!--Section: Text-->
                  <section>
                      <p>
                          {{post.content|safe}}
                      </p>
                  </section>
                  <!--Section: Text-->
              </div>
          </div>
      </div>
  </main>
  <!-- MDBootstrap Template -->
{% endblock %}
