{% extends 'core/base.html' %}
{% load static %}

{% block body %}

    <!-- MDBootstrap Template -->
    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-0 h4">{{post.title}}</h1>
    </div>
    <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-4 mb-5">
      <div class="container">
          <!--Grid row-->
          <div class="row">
              <!--Grid column-->
              <div class="col-md-8 mb-4">
                  <!--Section: Post data-mdb-->
                  <section class="border-bottom mb-4">
                      <img src="{{post.image.url}}"
                           class="img-fluid shadow-2-strong rounded mb-4" alt="" />

                      <div class="row align-items-center mb-4">
                          <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                              <img src="{% static 'core/img/upvent-logo.png' %}" class="rounded shadow-1-strong me-2"
                                   height="35" alt="" loading="lazy" />
                              <span>Fecha de publicación: <u>{{post.created_on}}</u> por</span>
                              <a href="" class="badge rounded-pill bg-primary text-white">{{post.author}}</a>
                          </div>

                          <div class="col-lg-6 text-center text-lg-end">
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                                  <i class="bi bi-facebook"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                                  <i class="bi bi-twitter"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #333333;">
                                  <i class="bi bi-github"></i>
                              </button>
                              <button type="button" class="btn btn-primary px-3 me-1">
                                  <i class="bi bi-chat-fill"></i>
                              </button>
                          </div>
                      </div>
                  </section>
                  <!--Section: Post data-mdb-->

                  <!--Section: Text-->
                  <section>
                      <p>
                          {{post.content|safe}}
                      </p>
                  </section>
                  <!--Section: Text-->
              </div>
              <!--Grid column-->
              <div class="col-md-4 mb-4">
                  <!--Section: Sidebar-->
                  <section class="sticky-top" style="top: 80px;">
                      <!--Section: Ad-->
                      <section class="text-center border-bottom pb-4 mb-4">
                          <div class="bg-image hover-overlay ripple mb-4">
                              <h1>Otros recursos</h1>
                              <img
                                  src="https://upvent.codes/wp-content/uploads/2020/10/Desmitificando-el-Software-libre.png"
                                  class="img-fluid" />
                              <a href="https://mdbootstrap.com/docs/standard/" target="_blank">
                                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                              </a>
                          </div>
                          <h5>Desmitificando el software libre</h5>

                          <p>
                              Conoce los mitos más comunes que rondan en torno al software libre y como desmentirlos fácilmente.
                          </p>
                          <a role="button" class="btn btn-primary" href="https://mdbootstrap.com/docs/standard/"
                             target="_blank">Leer ya...<i class="bi bi-book ms-2"></i></a>
                      </section>
                      <!--Section: Ad-->

                      <!--Section: Video-->
                      <section class="text-center">
                          <h5 class="mb-4">¡Conoce más del software libre!</h5>

                          <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
                              <iframe class="embed-responsive-item rounded" sandbox="allow-same-origin allow-scripts allow-popups" src="https://framatube.org/videos/embed/32ded243-ea5f-4f69-8dd0-5628c9231379"
                                      allowfullscreen></iframe>
                          </div>
                      </section>
                      <!--Section: Video-->
                  </section>
                  <!--Section: Sidebar-->
              </div>
              <!--Grid column-->
          </div>
      </div>
  </main>
  <!-- MDBootstrap Template -->
{% endblock %}
