{% extends 'core/base.html' %}
{% load static %}
{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - Blog</title>
    <meta name="title" content="UpVent - Blog">
    <meta name="description" content="El blog oficial de UpVent. Aquí podras encontrar tutoriales y artículos de todo tipo para mantenerte siempre informado.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/blog">
    <meta property="og:title" content="UpVent - Blog">
    <meta property="og:description" content="El blog oficial de UpVent. Aquí podras encontrar tutoriales y artículos de todo tipo para mantenerte siempre informado.">
    <meta property="og:image" content="https://upvent.codes/static/core/img/programmer.svg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://upvent.codes/blog">
    <meta property="twitter:title" content="UpVent - Blog">
    <meta property="twitter:description" content="El blog oficial de UpVent. Aquí podras encontrar tutoriales y artículos de todo tipo para mantenerte siempre informado.">
    <meta property="twitter:image" content="https://upvent.codes/static/core/img/programmer.svg">
{% endblock %}


{% block body %}
    <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-3">Blog</h1>
        <p class="mb-3 text-wrap lead">Bienvenido al blog de UpVent. Has llegado
            a la página principal para ver artículos sobre tecnología,
            tutoriales de programación, servidores, sistemas operativos tipo unix
            y todo tipo de contenido relacionado con el ecosistema de software libre. <i class="bi bi-heart"></i></p>

    </div>

    <main class="my-5">
        <div class="container">
            <section class="text-center">
                <h4 class="mb-5 fw-bold">Últimos Artículos</h4>

                <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card">
                                <img alt="Portada de blog" src="{{ post.image.url }}" class="img-fluid card-img-top" loading="lazy"/>
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">{{ post.title }}</h5>
                                    <span class="badge rounded-pill bg-primary">Categoría: {{post.category}}</span>
                                    <span class="badge rounded-pill bg-info"> Creado el: {{post.created_on}}</span>
                                    <hr />
                                    <p class="card-text">
                                        {{post.content|truncatewords:28|safe}}
                                    </p>
                                    <a href="{% url 'blog:post' post.slug %}" class="btn btn-primary">Leer más... <i class="bi bi-book"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- Pagination -->
            <nav class="my-4" aria-label="...">
                <ul class="pagination justify-content-center">

                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">Primero</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">{{ posts.previous_page_number  }}</a>
                        </li>
                    {% endif %}

                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ posts.number }}</a></li>

                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.next_page_number}}">{{posts.next_page_number}}</a>
                    </li>

                    <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Último</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}
