{% extends 'core/base.html' %}
{% load static %}
{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - El Blog Oficial de UpVent Technologies.</title>
    <meta name="title" content="UpVent - El Blog Oficial de UpVent Technologies.">
    <meta name="description" content="El blog oficial de UpVent. Aquí podras encontrar tutoriales y artículos de todo tipo para mantenerte siempre informado.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/blog">
    <meta property="og:title" content="UpVent - El Blog Oficial de UpVent Technologies.">
    <meta property="og:description" content="El blog oficial de UpVent. Aquí podras encontrar tutoriales y artículos de todo tipo para mantenerte siempre informado.">
    <meta property="og:image" content="https://upvent.codes/static/core/img/blog.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@UpVentMX">
    <meta property="twitter:creator" content="@UpVentMX">
    <meta property="twitter:title" content="UpVent - El Blog Oficial de UpVent Technologies.">
    <meta property="twitter:description" content="El blog oficial de UpVent. Aquí podras encontrar tutoriales y artículos de todo tipo para mantenerte siempre informado.">
    <meta property="twitter:image" content="https://upvent.codes/static/core/img/blog.png">
{% endblock %}


{% block body %}
    <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-3">Blog</h1>
        <p class="mb-3 text-wrap lead">Bienvenido al blog de UpVent. Has llegado
            a la página principal para ver artículos sobre tecnología,
            tutoriales de programación, servidores, sistemas operativos tipo unix
            y todo tipo de contenido relacionado con el ecosistema de software libre. <i class="bi bi-heart"></i>
        </p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Apoyar <i class="bi bi-bookmark-heart"></i></button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2">Compartir <i class="bi bi-share-fill"></i></button>
        </div>

        <!-- "Apoyar" Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Apoyar a UpVent</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Puedes apoyar a UpVent de las siguientes formas:
                            <ul class="list-group">
                                <li class="list-group-item"><a class="text-decoration-none" href="https://liberapay.com/VentGrey"><i class="bi bi-cash"></i> Liberapay</a></li>
                                <li class="list-group-item"><a class="text-decoration-none" href="https://vendor.cryptopayment.link/p/RZH91U2K"><i class="bi bi-credit-card"></i> Donar crypto</a></li>
                                <li class="list-group-item"><a class="text-decoration-none" href="https://github.com/UpVent/upvent.codes"><i class="bi bi-github"></i> Dar una estrella a esta página en GitHub</a></li>
                                <li class="list-group-item"><a class="text-decoration-none" href="https://web.facebook.com/UpVentMX/reviews/?ref=page_internal"><i class="bi bi-facebook"></i> Calificarnos en Facebook</a></li>
                                <li class="list-group-item"><a class="text-decoration-none" href="{% url 'licenses' %}"><i class="bi bi-star"></i> Donar a cualquier proyecto de software libre listado en nuestro salón de la fama</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- "Compartir" Modal -->
        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Compartir en Redes Sociales</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://upvent.codes/blog" class="btn btn-primary">Facebook <i class="bi bi-facebook"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://upvent.codes/blog&text=%C2%A1Hoy%20aprend%C3%AD%20algo%20nuevo%20en%20el%20blog%20de%20#UpVent!%20%C2%BFQuieres%20aprender%20algo%20tu%20tambi%C3%A9n?%20%20%F0%9F%91%A9%E2%80%8D%F0%9F%92%BB%F0%9F%92%BB" class="btn btn-info text-white">Twitter <i class="bi bi-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="my-5">
        <div class="container">
            <section class="text-center">
                <h4 class="mb-5 fw-bold">Últimos Artículos</h4>

                <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card shadow-sm border-0">
                                <img alt="Portada de blog" src="{{ post.image.url }}" class="card-img-top" loading="lazy"/>
                                <div class="card-body">
                                    <p class="h5 card-title fw-bold">{{ post.title }}</p>
                                    <span class="badge rounded-pill bg-primary">Categoría: {{post.category}}</span>
                                    <hr />
                                    <p class="card-text text-muted fw-light">
                                        {{post.description|truncatewords:30}}
                                    </p>
                                    <hr />
                                    <a href="{% url 'blog:post' post.slug %}" class="btn btn-primary stretched-link mt-2">Leer más... <i class="bi bi-book"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- Pagination -->
            <nav class="my-4" aria-label="...">
                <ul class="pagination justify-content-center">

                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">Primero</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">{{ posts.previous_page_number  }}</a>
                        </li>
                    {% endif %}

                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ posts.number }}</a></li>

                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.next_page_number}}">{{posts.next_page_number}}</a>
                    </li>

                    <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Último</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </main>
{% endblock %}
