{% extends 'core/base.html' %}
{% load static %}

{% block body %}

<div class="container">

    <section id="articles">
        <div class="container">
            <div class="mt-3 row">
                {% for post in posts %}
                {% if forloop.last %}
                    {% else %}
                    <div class="col">
                        {% endif %}
                        <div class="card m-2">
                            <div class="card-body">
                                <h2 class="card-title">{{post.title}}</h2>
                                <hr>
                                <p class="pb-2 mute">{{post.created_on}}</p>
                                <p>{{post.content|truncatewords:28}}</p>
                                <div class="btn btn-primary">
                                    <a href="{% url 'blog:post' post.slug %}" class="text-white">Leer mas...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
    </section>
</div>

{% endblock %}
