<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block css %}{% endblock %}

        {% block metatags %}
            <!-- Primary Meta Tags -->
            <title>UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas.</title>
            <meta name="title" content="UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas">
            <meta name="description" content="UpVent es un proveedor experto de soluciones de código libre y empresarial para los pequeños y medianos negocios Mexicanos.">

            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://upvent.codes/">
            <meta property="og:title" content="UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas">
            <meta property="og:description" content="UpVent es un proveedor experto de soluciones de código libre y empresarial para los pequeños y medianos negocios Mexicanos.">
            <meta property="og:image" content="https://upvent.codes/static/core/img/upvent-logo.png">

            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="https://upvent.codes/">
            <meta property="twitter:title" content="UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas">
            <meta property="twitter:description" content="UpVent es un proveedor experto de soluciones de código libre y empresarial para los pequeños y medianos negocios Mexicanos.">
            <meta property="twitter:image" content="https://upvent.codes/static/core/img/upvent-logo.png">
        {% endblock %}

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>
        <!-- Material Bootstrap stylesheet -->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" type="text/css" media="screen" />
        <!-- Custom stylesheet for this page -->
        <link rel="preload" href="{% static 'core/css/base-min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <!-- Bootstrap icons-->
        <link rel="preload" href="{% static 'core/css/bootstrap-icons.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- Web App attributes -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-upvent shadow">
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand" href="{% url 'index' %}">
                    <div class="d-inline-flex ml-2">
                        <img class="img-fluid" src="{% static 'core/img/logo-white.svg' %}" alt="Logotipo de UpVent en color blanco" />
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-pills me-auto mb-md-0">
                        <li class="nav-item">
                            <a {% if request.path == '/' %} class="nav-link active border border-2 rounded-3 fw-bold" {% else %} class="nav-link" {% endif %} href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a {% if request.path == '/blog/' %} class="nav-link active border border-2 rounded-3 fw-bold" {% else %} class="nav-link" {% endif %} href="{% url 'blog:home' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a {% if request.path == '/about/' %} class="nav-link active border border-2 rounded-3 fw-bold" {% else %} class="nav-link" {% endif %} href="{% url 'about' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a {% if request.path == '/services/' %} class="nav-link active border border-2 rounded-3 fw-bold" {% else %} class="nav-link" {% endif %} href="{% url 'services' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a {% if request.path == '/contact/' %} class="nav-link active border border-2 rounded-3 fw-bold" {% else %} class="nav-link" {% endif %} href="{% url 'contact:home' %}">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex" action="{% url 'search' %}">
                        <input class="form-control me-2" type="search" name="search" placeholder="Buscar en la página..." aria-label="Buscar en la página...">
                        <button class="btn btn-light shadow-sm" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}

        {% include 'core/footer.html' %}

        <script async defer type="text/javascript" src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
        <!-- custom scripts -->
        {% block js %}{% endblock %}
    </body>
</html>
