<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block css %}{% endblock %}

        {% block metatags %}
            <!-- Primary Meta Tags -->
            <title>UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas.</title>
            <meta name="title" content="UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas.">
            <meta name="description" content="UpVent es un proveedor experto de soluciones de código libre y empresarial para los pequeños y medianos negocios Mexicanos.">

            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://upvent.codes/">
            <meta property="og:title" content="UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas">
            <meta property="og:description" content="UpVent es un proveedor experto de soluciones de código libre y empresarial para los pequeños y medianos negocios Mexicanos.">
            <meta property="og:image" content="https://upvent.codes/static/core/img/upvent-logo.png">

            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:site" content="@UpVentMX">
            <meta property="twitter:creator" content="@UpVentMX">
            <meta property="twitter:title" content="UpVent - Soluciones en la nube para tu negocio. Low cost, siempre listas">
            <meta property="twitter:description" content="UpVent es un proveedor experto de soluciones de código libre y empresarial para los pequeños y medianos negocios Mexicanos.">
            <meta property="twitter:image" content="https://upvent.codes/static/core/img/upvent-logo.png">
        {% endblock %}

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}"/>
        <!-- Apple icons -->
        <link rel="apple-touch-icon" href="{% static 'core/img/apple-touch-icon.png' %}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'core/img/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'core/img/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'core/img/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'core/img/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'core/img/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'core/img/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'core/img/apple-touch-icon-152x152.png' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/apple-touch-icon-180x180.png' %}" />
        <!-- Material Bootstrap stylesheet -->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" type="text/css" media="screen"/>
        <!-- Custom stylesheet for this page -->
        <link rel="stylesheet" href="{% static 'core/css/base.css' %}" type="text/css" media="screen"/>
        <!-- VisualFX CSS for animations -->
        <link rel="stylesheet" href="{% static 'core/css/visualfx.css' %}" type="text/css" media="screen"/>
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap-icons.css' %}" type="text/css" media="screen"/>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <!-- Mobile Web App attributes -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#007BFC" />
        <meta name="application-name" content="UpVent Technologies">
        <meta name="apple-mobile-web-app-title" content="UpVent Technologies">
        <meta name="apple-mobile-web-app-status-bar-style" content="blue">
    </head>
    <body>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 shadow">
            <a href="{% url 'index' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none navbar-brand">
                <img class="mx-auto"  width="117" height="48" src="{% static 'core/img/logo-grey.png' %}" alt="UpVent Logo">
            </a>
            <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a {% if request.path == '/' %} class="nav-link active px-2 fw-bold" {% else %} class="nav-link px-2 link-dark" {% endif %} href="{% url 'index' %}">Inicio <i class="bi bi-house"></i></a></li>
                <li><a {% if request.path|slice:':6' == '/blog/' %} class="nav-link active px-2 fw-bold" {% else %} class="nav-link px-2 link-dark" {% endif %} href="{% url 'blog:home' %}">Blog <i class="bi bi-pen"></i></a></li>
                <li><a {% if request.path == '/about/' %} class="nav-link active px-2 fw-bold" {% else %} class="nav-link px-2 link-dark" {% endif %} href="{% url 'about' %}">Nosotros <i class="bi bi-people"></i></a></li>
                <li><a {% if request.path == '/services/' %} class="nav-link active px-2 fw-bold" {% else %} class="nav-link px-2 link-dark" {% endif %} href="{% url 'services' %}">Servicios <i class="bi bi-laptop"></i></a></li>
                <li><a {% if request.path == '/contact/' %} class="nav-link active px-2 fw-bold" {% else %} class="nav-link px-2 link-dark" {% endif %} href="{% url 'contact:home' %}">Contacto <i class="bi bi-phone"></i></a></li>
                <li><a {% if request.path == '/marketcloud/' %} class="nav-link active px-2 fw-bold" {% else %} class="nav-link px-2 link-dark" {% endif %} href="{% url 'marketcloud:home' %}">MarketCloud <i class="bi bi-bag"></i></a></li>
            </ul>
            <div class="text-end me-auto ms-auto mx-auto">
                <button type="button" class="btn btn-light border-0" title="Modo daltonismo" onclick="alert('Los colores para usuarios dalónicos aún no están listos')">👁</button>
                <noscript class="small text-muted text-wrap text-break">El modo oscuro / colores para daltonismo solo están disponibles habilitando JavaScript</noscript>
            </div>
        </header>
        {% block body %}
        {% endblock %}
        {% include 'core/footer.html' %}
        <!-- Bootstrap 5 script -->
        <script async defer type="text/javascript" src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
        <!-- schema.org basic script -->
        <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"UpVent Technologies","url":"https://upvent.codes","address":"Guanajuato, Guanajuato","sameAs":["https://facebook.com/UpVentMX","https://twitter.com/UpVentMX","https://www.linkedin.com/company/upvent-technologies/","https://www.instagram.com/UpVentMX/"]}</script>
        <!-- custom scripts -->
        {% block js %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'core/js/darkmode.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/darkmode-config.js' %}"></script>
    </body>
</html>
