{% load static %}
<footer class="text-center text-white bg-upvent">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-primary btn-floating m-1 btn-twitter" href="https://twitter.com/UpVentMX" rel="external" role="button"><i class="fab bi-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1 btn-instagram" href="https://instagram.com/UpVentMX" rel="external" role="button"><i class="fab bi-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1 btn-facebook" href="https://facebook.com/UpVentMX" rel="external" role="button"><i class="fab bi-facebook"></i></a>
            <a class="btn btn-primary btn-floating m-1 btn-github" href="https://github.com/UpVent" rel="external" role="button"><i class="fab bi-github"></i></a>
        </section>

        <section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <div class="container">
                        <img class="img-fluid" src="{% static 'core/img/logo-white.svg' %}" alt="UpVent Logo" loading="lazy"/>
                    </div>
                    <p class="lead">
                        Todos los derechos reservados © - UpVent {% now "Y" %}. Todos los logos son marcas registradas de sus respectivos dueños.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Enlaces Rápidos</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'index' %}" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'blog:home' %}" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Nosotros</a>
                        </li>
                        <li>
                            <a href="{% url 'services' %}" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Servicios</a>
                        </li>
                        <li>
                            <a href="{% url 'contact:home' %}" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Contacto</a>
                        </li>
                        <li>
                            <a href="{% url 'licenses' %}" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Licencias</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Enlaces Importantes</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://github.com/UpVent" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Repositorio de Código Libre en GitHub</a>
                        </li>

                        <li>
                            <a href="{% url 'team' %}" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> Equipo</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white text-decoration-none"><i class="bi bi-arrow-right"></i> ...Espera más contenido pronto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="container text-center-p-4">
        <p class="text-white fs-6">
            El código fuente de esta página se encuentra bajo la <a class="text-white" href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">Licencia Pública General de GNU versión 2</a>. Excepto donde se indique lo <a class="text-white" href="https://creativecommons.org/policies#license">contrario</a>, el trabajo escrito, blogs, opiniones y parte del contenido visual se encuentra bajo la <a class="text-white" href="https://creativecommons.org/licenses/by-nd/3.0/deed.es">Licencia Creative Commons Atribución-SinDerivadas 3.0 No portada (CC BY-ND 3.0)</a>
        </p>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © {% now "Y" %} Copyright:
        <a class="text-white" href="https://upvent.codes/">UpVent Technologies</a> - <a class="text-white" href="{% url 'privacy-policy' %}"> Política de privacidad</a>
    </div>
</footer>
