{% load static %}
<footer class="text-center text-white bg-upvent">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-primary btn-floating m-1 btn-twitter" aria-label="Twitter" href="https://twitter.com/UpVentMX" rel="external" role="button"><i class="fab bi-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1 btn-instagram" aria-label="Instagram" href="https://instagram.com/UpVentMX" rel="external" role="button"><i class="fab bi-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1 btn-facebook" aria-label="Facebook" href="https://facebook.com/UpVentMX" rel="external" role="button"><i class="fab bi-facebook"></i></a>
            <a class="btn btn-primary btn-floating m-1 bg-primary" aria-label="Linkedin" href="https://www.linkedin.com/company/upvent-technologies/" rel="external" role="button"><i class="fab bi-linkedin"></i></a>
            <a class="btn btn-primary btn-floating m-1 btn-github" aria-label="GitHub" href="https://github.com/UpVent" rel="external" role="button"><i class="fab bi-github"></i></a>
            <a class="btn btn-primary btn-floating m-1 btn-secondary" aria-label="As-Card" href="https://me.as-card.com/accounts/profile/UpVentMX/" rel="external" role="button"><i class="fab bi-person-badge"></i></a>
        </section>

        <section class="mt-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <div class="container">
                        <img class="img-fluid mb-1" width="116" height="47" src="{% static 'core/img/logo-white.svg' %}" alt="UpVent Logo" loading="lazy"/>
                    </div>
                    <p class="text-white">Todos los derechos reservados © - UpVent {% now "Y" %}. Todos los logos son marcas registradas de sus respectivos dueños.</p>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <p class="h4 text-uppercase">Enlaces Rápidos</p>
                    <ul class="list-unstyled mb-0">
                        <li class="m-2">
                            <a href="{% url 'index' %}" class="fs-5 text-white text-decoration-none">Inicio <i class="bi bi-house"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="{% url 'blog:home' %}" class="fs-5 text-white text-decoration-none">Blog <i class="bi bi-pen"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="{% url 'about' %}" class="fs-5 text-white text-decoration-none">Nosotros <i class="bi bi-people"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="{% url 'services' %}" class="fs-5 text-white text-decoration-none">Servicios <i class="bi bi-laptop"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="{% url 'contact:home' %}" class="fs-5 text-white text-decoration-none">Contacto <i class="bi bi-phone"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="{% url 'marketcloud:home' %}" class="fs-5 text-white text-decoration-none">MarketCloud <i class="bi bi-bag"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <p class="h4 text-uppercase">Enlaces Importantes</p>
                    <ul class="list-unstyled mb-0">
                        <li class="m-2">
                            <a href="https://github.com/UpVent" class="fs-5 text-white text-decoration-none">Repositorio de Código Libre en GitHub <i class="bi bi-github"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="{% url 'team' %}" class="fs-5 text-white text-decoration-none">Equipo <i class="bi bi-diagram-3"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="{% url 'licenses' %}" class="fs-5 text-white text-decoration-none">Licencias <i class="bi bi-journal-text"></i></a>
                        </li>
                        <li class="m-2">
                            <a rel="nofollow" href="https://tickets.upvent.codes" class="fs-5 text-white text-decoration-none">Sistema de Soporte <i class="bi bi-info-circle"></i></a>
                        </li>
                        <li class="m-2">
                            <a href="#!" class="text-white text-decoration-none">...Espera más contenido pronto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <section class="container mt-5 mb-5 text-center-p-4">
        <p class="text-white fs-6">
            El <a href="https://github.com/UpVent/upvent.codes" class="text-white">código fuente</a> de esta página se encuentra bajo la <a class="text-white" href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">Licencia Pública General de GNU versión 2</a>. Excepto donde se indique lo <a class="text-white" href="https://creativecommons.org/policies#license">contrario</a>, el trabajo escrito, blogs, opiniones y parte del contenido visual se encuentra bajo la <a class="text-white" href="https://creativecommons.org/licenses/by-nd/3.0/deed.es">Licencia Creative Commons Atribución-SinDerivadas 3.0 No portada (CC BY-ND 3.0)</a>
        </p>
    </section>

    <section class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © {% now "Y" %} Copyright:
        <a class="text-white" href="https://upvent.codes/">UpVent Technologies</a> -
        <a class="text-white" href="{% url 'privacy-policy' %}"> Política de privacidad</a> -
        <a class="text-white" href="{% url 'terms-of-service' %}">Términos y Condiciones del servicio</a> -
        <a class="text-white" href="https://github.com/UpVent/upvent.codes/issues/new">Reportar un problema con este sitio</a>
    </section>
</footer>
