{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block body %}
    <!-- Background image -->
    <div class="p-5 text-center bg-image jumbotron">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center m-5 h-100">
                <div class="text-white">
                    <h1 class="text-center mb-3">
                        Nube Inteligente.
                        <br />
                        Para Negocios Inteligentes.
                    </h1>


                    <h4 class="text-center fs-6 mb-3">
                        Desarrollamos soluciones web inteligentes para los negocios Mexicanos.
                    </h4>

                    <a class="btn bg-upvent fw-normal text-white btn-lg" href="#img-btn" role="button">
                        Leer más <i class="bi bi-arrow-right"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->

    <!-- Solutions section -->
    <div class="container mt-4 mb-4 justify-content-center">
        <!-- Text -->
        <div class="slide-in-left container text-center">

            <div class="container mx-auto">
                <img id="img-btn" class="rounded-circle shadow-1-strong" width="20%" src="{% static 'core/img/upvent-logo.png' %}" alt="" />
            </div>

            <h2>Soluciones en la nube</h2>
            <h2>Para todo tipo de negocios</h2>
            <br />
            <p class="text-muted lead">
                Desde entusiastas hasta desarrolladores.
                <br />
                Todos tienen espacio en la nube con UpVent.
            </p>
        </div>

        <!-- First tree cards -->
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card m-3">
                    <div class="card-body">
                        <i class="text-upvent fs-3 bi bi-laptop"></i>
                        <h5 class="card-title fw-bold">Desarrollo Universal</h5>
                        <p class="card-text">
                            Desarrollo profesional y universal.
                            <br />
                            Cualquier plataforma, cualquier dispositivo. Donde sea.​
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card m-3">
                    <div class="card-body">
                        <i class="text-upvent fs-3 bi bi-layers-half"></i>
                        <h5 class="card-title fw-bold">Productos Escalables</h5>
                        <p class="card-text">
                            Software escalable desde el primer día.
                            <br />
                            Todas sus necesidades pueden ser cubiertas, sin importar su tamaño.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card m-3">
                    <div class="card-body">
                        <i class="text-upvent fs-3 bi bi-lightning-charge-fill"></i>
                        <h5 class="card-title fw-bold">Rápidos</h5>
                        <p class="card-text">
                            Programación cautelosa de los productos desde su raíz.
                            <br />
                            ¡No más software lento!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Solutions section -->



{% endblock %}
