{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block body %}
<!-- Background image -->
  <div class="p-5 text-center bg-image jumbotron">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
      <div class="d-flex justify-content-center align-items-center m-5 h-100">
        <div class="text-white">
          <h1 class="text-center mb-3">
              Nube Inteligente.
              <br />
              Para Negocios Inteligentes.
          </h1>


          <h4 class="text-center fs-6 mb-3">
              Desarrollamos soluciones web inteligentes para los negocios Mexicanos.
          </h4>

          <a class="btn bg-upvent fw-normal text-white btn-lg" href="#!" role="button">
              Leer más <i class="bi bi-arrow-right"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

  <!-- Solutions section -->
  <div class="container justify-content-center">
      <!-- Text -->
      <div class="slide-in-left container text-center">
          <h2>Soluciones en la nube</h2>
          <h2>Para todo tipo de negocios</h2>
          <br />
          <p class="text-muted lead">
              Desde entusiastas hasta desarrolladores.
              <br />
              Todos tienen espacio en la nube con UpVent.
          </p>
      </div>

      <!-- First two cards -->
      <div class="row">
          <div class="col-md-6 col-sm-1">

          </div>

          <div class="col-md-6 col-sm-1">

          </div>
      </div>
  </div>
  <!-- Solutions section -->



{% endblock %}
