{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'core/css/services.css' %}">
{% endblock %}

{% block body %}


<!-- Background image -->
<div class="p-5 text-center bg-image jumbotron">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
        <div class="d-flex justify-content-center align-items-center m-5 h-100">
            <div class="text-white">
                <h1 class="text-center display-3 mb-3">
                    Soluciones únicas, para problemas únicos.
                </h1>


                <h1 class="text-center text-wrap fs-5 mb-3">
                    Ofrecemos soluciones para todo tipo de negocios. No importa el tamaño ¡Nosotros nos encargamos!
                </h1>

            </div>
        </div>
    </div>
</div>
<!-- Background image -->

<!-- Autocloud -->
<div class="container mt-5 mb-5">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
            <h1>Nube Automanejada</h1>
            <p class="lead">
                ¿Necesita ayuda para comenzar con su negocio en la nube? Lo tenemos cubierto con diferentes planes para empresas e individuos de todos los tamaños.
            </p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
            <img alt="image" class="img-fluid" src="{% static 'core/img/nube-automanejada.svg' %}">
        </div>
    </div>
</div>
<!-- Autocloud -->
{% endblock %}
