{% extends 'core/base.html' %}
{% load static %}

{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - Equipo</title>
    <meta name="title" content="UpVent - Equipo">
    <meta name="description" content="Conoce al equipo que hace de UpVent una realidad para todos">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/team/">
    <meta property="og:title" content="UpVent - Equipo">
    <meta property="og:description" content="Conoce al equipo que hace de UpVent una realidad para todos">
    <meta property="og:image" content="https://upvent.codes/static/core/img/core-services.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@UpVentMX">
    <meta name="twitter:creator" content="@UpVentMX">
    <meta name="twitter:title" content="UpVent - Equipo">
    <meta name="twitter:description" content="Conoce al equipo que hace de UpVent una realidad para todos">
    <meta name="twitter:image" content="https://upvent.codes/static/core/img/core-services.jpg">
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row text-center justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 class="fw-bold">¡Conozca al equipo de UpVent!</h1>
                <p class="lead">Creemos en la unión de la comunidad, el código libre y la ética de los programas modernos.</p>
                <div class="container mt-5 mb-5">
                    <div class="container">
                        <a class="btn btn-lg text-white fw-bold bg-upvent" href="https://github.com/UpVent">¡Unirse ahora!  <i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 align-items-center justify-content-center">
            {% for member in members %}
            <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
                <div class="container">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img alt="Foto mostrando una persona" class="img-fluid rounded-circle shadow-sm" src="{{member.image.url}}">
                        </div>
                        <div class="col-8 ml-auto">
                            <p>
                                <strong>{{member.name}}</strong><br>
                                <em>{{member.position}}</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="container mt-5 mb-5">
        <div class="row text-center justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 class="fw-bold">Colaboradores</h1>
                <p>UpVent no sería una realidad sin la ayuda de otros miembros de la comunidad de código libre y los colaboradores externos que han sido de gran ayuda.</p>
            </div>
        </div>

        <div class="row mt-5 align-items-center justify-content-center">
            {% for collab in collabs %}
            <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
                <div class="container">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img alt="Foto mostrando una persona" class="img-fluid rounded-circle shadow-sm" src="{{collab.image.url}}">
                        </div>
                        <div class="col-8 ml-auto">
                            <p>
                                <strong>{{collab.name}}</strong><br>
                                <em>{{collab.position}}</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
