{% extends 'core/base.html' %}
{% load static %}

{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - Términos del Servicio / Ventas</title>
    <meta name="title" content="UpVent - Términos del Servicio / Ventas">
    <meta name="description" content="Términos y condiciones del servicio que brinda UpVent en su sitio web.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/terms-of-service/">
    <meta property="og:title" content="UpVent - Términos del Servicio / Ventas">
    <meta property="og:description" content="Términos y condiciones del servicio que brinda UpVent en su sitio web.">
    <meta property="og:image" content="https://upvent.codes/static/core/img/core-services.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@UpVentMX">
    <meta name="twitter:creator" content="@UpVentMX">
    <meta name="twitter:title" content="UpVent - Términos del Servicio / Ventas">
    <meta name="twitter:description" content="Términos y condiciones del servicio que brinda UpVent en su sitio web.">
    <meta name="twitter:image" content="https://upvent.codes/static/core/img/core-services.jpg">
{% endblock %}

{% block body %}

    <section class="pt-8 pt-md-11 pb-8 pb-md-12">
        <div class="container mt-5 mb-5">
            <div class="row align-items-center">

                <div class="col-12 col-md">
                    <h1 class="display-4 mb-2">{{policies.title}}</h1>
                    <p class="fs-5 text-muted mb-md-0">Actualizado el: {{policies.updated_on}}</p>
                </div>

                <div class="col-auto">
                    <button class="btn btn-primary" OnClick="printDiv('printableArea');">Imprimir</button>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr class="my-6 my-md-8"/>
                    </div>
                </div>

                <div class="row" id="printableArea">
                    <div class="col-12 col-md-8">
                        <p class="fs-5 text-muted mb-6 mb-md-8">
                            {{policies.changelog}}
                        </p>
                        <hr class="mt-2 mb-2"/>

                        <p id="ppolicy" class="text-wrap">{{policies.text | safe}}</p>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4>¿Tiene alguna pregunta?</h4>
                                <p class="fs-6 text-muted mb-5">
                                    ¿No está seguro exactamente de lo que estamos buscando o simplemente desea una aclaración? Estaremos encantados de charlar contigo y aclararte las cosas. ¡En cualquier momento!
                                </p>
                                <h6 class="fw-bold text-uppercase text-muted mb-2">
                                    ¡Envíe un mensaje!
                                </h6>
                                <p class="fs-6 mb-5">
                                    <a class="text-reset" href="mailto:upvent@gmail.com">Enviar un correo electrónico <i class="bi bi-envelope"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    {% block js %}
        <script async defer type="text/javascript" src="{% static 'core/js/print-policy.js' %}"></script>
    {% endblock %}
{% endblock %}
