.jumbotron {
    background: url('/static/core/img/core-marketplace.png') rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 500px;
}
