{% extends 'core/base.html' %}
{% load static %}

{% block body %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Recursos educativos</h1>
                    <p class="lead text-muted">
                        Consulta nuestros recursos educativos gratuitos. Escritos por la comunidad, para la comunidad.
                    </p>
                    <p>
                        <a class="btn btn-warning" href="">Deseo Contribuir <i class="bi bi-star-fill"></i></a>
                    </p>
                </div>
            </div>
        </section>

        <hr />

        <div class="py-5 bg-light">
            <div class="container">
                <h2>Libros</h2>
                <!-- Books -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 m-2">
                    {% for book in books %}
                        <div class="col">
                            <a href="">
                                <img class="shadow" height="320px" width="226.13" alt="{{book.title}}" src="{{book.image.url}}"/>
                            </a>
                            <hr />
                            <p class="small text-muted">{{book.title}}</p>
                        </div>
                    {% empty %}
                    <div class="col">
                        <p class="h1 text-muted">No existen elementos aún...</p>
                    </div>
                    {% endfor %}
                </div>
                <!-- Videos -->
                <h2>Vídeos</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for video in videos %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="" alt="" />
                            <div class="card-body">
                                <p class="card-text">{{video.title}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col">
                        <p class="h1 text-muted">No existen elementos aún...</p>
                    </div>
                    {% endfor %}
                </div>

                <h2>Otros Recursos</h2>
                <!-- Otro -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for other in others %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col">
                        <p class="h1 text-muted">No existen elementos aún...</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
