{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'marketcloud/css/shop.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - MarketCloud</title>
    <meta name="title" content="UpVent - MarketCloud">
    <meta name="description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/marketcloud/">
    <meta property="og:title" content="UpVent - MarketCloud">
    <meta property="og:description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">
    <meta property="og:image" content="https://upvent.codes/static/marketcloud/img/core-marketcloud.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://upvent.codes/marketcloud/">
    <meta property="twitter:title" content="UpVent - MarketCloud">
    <meta property="twitter:description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">
    <meta property="twitter:image" content="https://upvent.codes/static/marketcloud/img/core-marketcloud.png">
{% endblock %}

{% block body %}
{% endblock %}
