{% extends 'core/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - MarketCloud</title>
    <meta name="title" content="UpVent - MarketCloud">
    <meta name="description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/about/">
    <meta property="og:title" content="UpVent - MarketCloud">
    <meta property="og:description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">
    <meta property="og:image" content="https://upvent.codes/static/core/img/core-marketcloud.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://upvent.codes/about/">
    <meta property="twitter:title" content="UpVent - MarketCloud">
    <meta property="twitter:description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">
    <meta property="twitter:image" content="https://upvent.codes/static/core/img/core-marketcloud.jpg">
{% endblock %}

{% block body %}
    <div class="p-5 text-center bg-image jumbotron">
        <div class="d-flex justify-content-center align-items-center m-5 h-100">
            <div class="text-white">
                <h1 class="text-center display-3 mb-3">
                    Llevando empresas a la nube desde nuestros inicios.
                </h1>

                <h1 class="text-center text-wrap fs-5 mb-3">
                    UpVent es una compañía de tecnología y software empresarial
                    <br />
                    que sigue el modelo del software libre enfocado a las micro, pequeñas y mediananas empresas.
                </h1>
            </div>
        </div>
    </div>

    


{% endblock %}
