{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'marketcloud/css/shop.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>UpVent - MarketCloud. La tienda oficial de UpVent para desarrolladores y empresarios.</title>
    <meta name="title" content="UpVent - MarketCloud. La tienda oficial de UpVent para desarrolladores y empresarios.">
    <meta name="description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/marketcloud/">
    <meta property="og:title" content="UpVent - MarketCloud. La tienda oficial de UpVent para desarrolladores y empresarios.">
    <meta property="og:description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">
    <meta property="og:image" content="https://upvent.codes/static/core/img/core-marketplace.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@UpVentMX">
    <meta property="twitter:creator" content="@UpVentMX">
    <meta property="twitter:title" content="UpVent - MarketCloud. La tienda oficial de UpVent para desarrolladores y empresarios.">
    <meta property="twitter:description" content="Conoce los últimos productos, soluciones y servicios que UpVent puede ofrecerle a tu negocio.">
    <meta property="twitter:image" content="https://upvent.codes/static/core/img/core-marketplace.png">
{% endblock %}

{% block body %}
    <div class="p-5 text-center bg-image jumbotron">
        <div class="d-flex justify-content-center align-items-center m-5 h-100">
            <div class="text-white">
                <h1 class="text-center display-3 mb-3">
                    MarketCloud <i class="bi bi-bag"></i>
                </h1>

                <div class="container">
                    <p class="lead text-center text-wrap mb-3">
                        Encuentre una solución que se adapte a sus necesidades. Hay disponibles una gran cantidad de aplicaciones preconfiguradas de 1 clic, incluidas WordPress, E-Commerce, Servidores Automanejados, Panel de Hosting y más.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Products  -->

    <div class="container mt-5 mb-5">
        <p class="h4">Selecciones del editor</p>
        <hr />
    </div>

    <div class="container mt-5 mb-5">
        <div class="row row-cols-5 row-cols-xs-1 row-cols-sm-1 row-cols-md-5 gx-2 gy-3">
            {% for product in products %}
            <div class="col-auto">
                <div class="card border-0 shadow-sm">
                    <img src="{{product.icon.url}}" height="80" width="80" class="m-2" alt="...">
                    <div class="card-body mt-3">
                        <p class="h5 text-primary text-wrap text-break">{{product.name}}</p>
                        <p class="m-0 text-muted">{{product.category}}</p>
                        <p class="m-0 fw-bold">{{product.apptype}}</p>
                        <p class="small text-muted text-wrap text-break"><small class="card-text">{{product.short_description|truncatewords:10}}</small></p>
                        <a href="{% url 'marketcloud:item' product.slug %}" class="btn btn-primary fw-light">Comprar <i class="bi bi-cart"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
